In [2]:
import sys
print(sys.executable)

/opt/anaconda3/envs/venv/bin/python

In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
import pickle

In [4]:
data=pd.read_csv('Churn.csv')

In [5]:
data.head(10)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
5,6,15574012,Chu,645,Spain,Male,44,8,113755.78,2,1,0,149756.71,1
6,7,15592531,Bartlett,822,France,Male,50,7,0.00,2,1,1,10062.80,0
7,8,15656148,Obinna,376,Germany,Female,29,4,115046.74,4,1,0,119346.88,1
8,9,15792365,He,501,France,Male,44,4,142051.07,2,0,1,74940.50,0
9,10,15592389,H?,684,France,Male,27,2,134603.88,1,1,1,71725.73,0

In [6]:
## Preprocessing the data
# Drop irrelevant columns
data=data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

In [7]:
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [8]:
## Encode Categorical Variables
label_encoders = LabelEncoder()
data['Gender']=label_encoders.fit_transform(data['Gender'])
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [9]:
#One hot encoder for categorical variablesGeography
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(sparse_output=False)
geography_encoded = ohe.fit_transform(data[['Geography']])
geography_encoded

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [10]:
ohe.get_feature_names_out

In [11]:
geography_encoded_df = pd.DataFrame(geography_encoded, columns=ohe.get_feature_names_out(['Geography']))

In [12]:
geography_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [13]:
## Cobine one hot encoded columns with the original data
data= pd.concat([data, geography_encoded_df], axis=1)
data = data.drop(['Geography'], axis=1)

In [14]:
data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

In [15]:
## Save the encoders and scalers
with open('label_encoder.pkl', 'wb') as f:
    pickle.dump(label_encoders, f)

with open('one_hot_encoder.pkl', 'wb') as f:
    pickle.dump(ohe, f)

In [16]:
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [17]:
## Split the data into training and testing sets
X = data.drop(['Exited'], axis=1)
y = data['Exited']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
## Scale the features
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [18]:
X_train_scaled

array([[ 0.35649971,  0.91324755, -0.6557859 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.20389777,  0.91324755,  0.29493847, ..., -0.99850112,
         1.72572313, -0.57638802],
       [-0.96147213,  0.91324755, -1.41636539, ..., -0.99850112,
        -0.57946723,  1.73494238],
       ...,
       [ 0.86500853, -1.09499335, -0.08535128, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.15932282,  0.91324755,  0.3900109 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.47065475,  0.91324755,  1.15059039, ..., -0.99850112,
         1.72572313, -0.57638802]])

In [19]:
with open('scaler.pkl', 'wb') as f:
    pickle.dump(scaler, f)

In [20]:
import tensorflow 
from tensorflow import keras
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard

In [21]:
# Define the model
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train_scaled.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1, activation='sigmoid')  # Output layer for binary classification
])

/opt/anaconda3/envs/venv/lib/python3.9/site-packages/keras/src/layers/core/dense.py:93: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [22]:
import tensorflow
opt= tensorflow.keras.optimizers.Adam(learning_rate=0.001)

In [23]:
# compile the model
model.compile(optimizer="adam",loss="binary_crossentropy", metrics=["accuracy"])

In [24]:
## Set up the tensorboard
import datetime
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
log_dir = "logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [25]:
## Setup early stopping
early_stopping = EarlyStopping(monitor='val_loss', patience=5, restore_best_weights=True)
# Train the model
history = model.fit(X_train_scaled, y_train, epochs=50, batch_size=32, 
                    validation_split=0.2,
                    callbacks=[early_stopping, tensorboard_callback])

Epoch 1/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7311 - loss: 0.5457 - val_accuracy: 0.8269 - val_loss: 0.4183
Epoch 2/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 909us/step - accuracy: 0.8261 - loss: 0.4119 - val_accuracy: 0.8425 - val_loss: 0.3954
Epoch 3/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 674us/step - accuracy: 0.8385 - loss: 0.3882 - val_accuracy: 0.8556 - val_loss: 0.3665
Epoch 4/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 716us/step - accuracy: 0.8583 - loss: 0.3585 - val_accuracy: 0.8556 - val_loss: 0.3535
Epoch 5/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 867us/step - accuracy: 0.8637 - loss: 0.3401 - val_accuracy: 0.8569 - val_loss: 0.3527
Epoch 6/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8682 - loss: 0.3323 - val_accuracy: 0.8594 - val_loss: 0.3462
Epoch 7/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 736us/step - accuracy: 0.8638 - loss: 0.3381 - val_accuracy: 0.8537 - val_loss: 0.3441
Epoch 8/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 718us/step - accuracy: 0.8601 - loss: 0.3316 - val_accuracy: 0.8587 - val_loss: 0.3475
Epoch 9/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 788us/step - accuracy: 0.8566 - loss: 0.3374 - val_accuracy: 0.8587 - val_loss: 0.3424
Epoch 10/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 719us/step - accuracy: 0.8673 - loss: 0.3231 - val_accuracy: 0.8575 - val_loss: 0.3424
Epoch 11/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 749us/step - accuracy: 0.8672 - loss: 0.3167 - val_accuracy: 0.8606 - val_loss: 0.3457
Epoch 12/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 907us/step - accuracy: 0.8727 - loss: 0.3134 - val_accuracy: 0.8569 - val_loss: 0.3429
Epoch 13/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 801us/step - accuracy: 0.8674 - loss: 0.3180 - val_accuracy: 0.8587 - val_loss: 0.3457
Epoch 14/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 760us/step - accuracy: 0.8680 - loss: 0.3186 - val_accuracy: 0.8575 - val_loss: 0.3434

In [26]:
model.save('model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [27]:
%load_ext tensorboard

In [28]:
%tensorboard --logdir logs/fit

Reusing TensorBoard on port 6006 (pid 84768), started 1:58:33 ago. (Use '!kill 84768' to kill it.)